.byebug_history
.bundle/
/.config
.coverage/
/doc/
.gem_rbs_collection
.installedFiles
.lib/bundler/man/
.pkg/
/public/system/nameplate/*
.rbc
.rdoc/
.rspec_status
/ruby-version
.spec/examples.txt
.spec/reports/
/spec/tmp/*
.test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
.yardoc/
/_yardoc/
*.gem
*.rbc
/coverage/
/doc/
/gem_rbs_collection
/installedFiles
/lib/bundler/man/
/pkg/
/public/system/nameplate/*
/rdoc/
/ruby-version
/spec/examples.txt
/spec/reports/
/spec/tmp/*
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
/yardoc/
/_yardoc/
